<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>osom-ui</title>

  {% set css %}
    {% include "src/styles/index.css" %}
  {% endset %}

  <style>
    {{css | postcss | safe}}
  </style>
</head>

<body class="prose">
{% include "src/_includes/layouts/header.njk" %}
{% include "src/_includes/layouts/hero.njk" %}
{% include "src/_includes/layouts/features.njk" %}

{{ content | safe }}
</body>
</html>
