<header class="sticky top-0 z-30 h-[72px] bg-base-200/50 backdrop-blur backdrop-filter">
  <div class="mx-auto max-w-8xl xl:px-8">
    <div
      class="flex items-center justify-between border-b border-base-content px-4 py-5 sm:px-6 lg:px-8 xl:px-0"
    >
      <a
        class="block [&>svg]:h-5 [&>svg]:fill-current"
        aria-label="osom-ui"
        href="{{ '/' | url }}"
      >
        {% svgInline 'osom.logo.svg' %}
      </a>
      <a
        class="text-gray-400 hover:text-white [&>svg]:h-7 [&>svg]:fill-current"
        href="https://github.com/osom8979/osom-ui"
      >
        <span class="sr-only">GitHub Repository</span>
        {% svgInline 'github.svg' %}
      </a>
    </div>
  </div>
</header>
