<section class="mx-auto py-12 sm:py-28 md:py-32 lg:py-40">
  <div class="px-4 sm:px-6 lg:px-8 space-y-6 text-center text-base-content">
    <h1 class="font-bold text-2xl sm:text-3xl md:text-4xl">
      Tailwind CSS Components Library
    </h1>
    <p>A collection of open source Tailwind CSS components that are free to use.</p>
  </div>
</section>
